{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">TASKS</h4>

    <br />
    <div class="col-md-12 row">
        <div class="col-md-6">
            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'task-list' %}">
                <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control" name="q"/>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-15">
            <div class="pull-right">
                <a href="{% url 'task-add' %}" class="btn btn-success btn-rounded">
                    Add Task
                </a>
            </div>
        </div>
    </div>
<br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header">
            <div class="card-title">Tasks</div>
            <div class="card-category">Enter your task here</div>
          </div>
        <div class="card-body">
            <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.deadline|date:"Y-m-d H:i" }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.category.name }}</td>
                <td>{{ task.priority.name }}</td>
                <td>
                    <a href="task_list/{{ task.id }}">Edit</a>
                    <a href="task_list/{{ task.id }}/delete" class="text-danger">Delete</a>
                </td>

            </tr>
                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center text-muted">
                      No task found.
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% include 'includes/pagination.html' %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
